/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --bg-color: #353430;
  --text-color: #353430;
  --header-color: #ffc2e6;
  --title-color: #353430;
  --btn-hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --bg-color: #353430;
    --text-color: #353430;
    --header-color: #ffc2e6;
    --title-color: #353430;
    --btn-hover-color: rgba(50, 49, 45, 0.4);
  }
}