/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-image: var(--bg-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin: 10px;
  color: var(--accent-color);
  padding-bottom: 15px;
  padding-top: 60px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--title-color);
  border-bottom: 1px solid var(--title-color);
}

.header__rec {
  position: absolute;
  top: 0;
  right: 0;
}

.header__rec::before {
  content: 'REC';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-right: 8px;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-right: 10px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  color: var(--title-color);
  border: none;
  padding: 8px 13px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-color);
  pointer-events: none;
}

.header__title {
  align-self: flex-start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.header__text {
  margin-top: 55px;
  margin-bottom: 56px;
  max-width: 364px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.section {
  margin: 50px 10px 0 10px;
}

.article__title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.article__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
}

.advice__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.image {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.footer {
  position: relative;
  margin: 50px 10px 10px 10px;
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.link {
  color: inherit;
  /* text-underline-offset: 4px; */
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.gallery_item__sunset {
  grid-area: sunset;
}

.gallery_item__ice-cream {
  grid-area: ice-cream;
}

.gallery_item__tape {
  grid-area: tape;
}

.gallery_item__books {
  grid-area: books;
}

.gallery_item__street {
  grid-area: street;
}

@media (width >= 768px) {
  .header {
    margin: 20px;
    padding-top: 172px;
    padding-bottom: 163px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    margin: 100px 20px 0 20px;
  }
  
  .section-2-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-2-columns li:first-child .article__title {
    margin-top: 0;
  }

  .section-2-columns > article .article__title {
    margin-top: 0;
  } 

  .section-3-columns .section__title {
    width: calc(33% - 20px);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    gap: 20px;

    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
  }

  .image {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
  }
}

.theme_light .header__rec {
  display: none; 
}

@media (prefers-color-scheme: light) {
  .theme_auto .header__rec {
    display: none;
  }
}

@media (width >= 1024px) {
  .header__text {
    max-width: 470px;
  }
  
  .header {
    padding-top: 0;
  }

  .header__theme-menu {
    align-self: center;
    margin-bottom: 300px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .section-3-columns ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}